In [1]:

import requests, pandas, pathlib, datetime
import uuid, pydash, numpy
from IPython.display import clear_output
from bs4 import BeautifulSoup

def clean_tags(row, col):
    return(BeautifulSoup(str(row[col]), "lxml").text)

def retrieve(page):
    response = requests.get(str(page))
    data = str(BeautifulSoup(response.text, 'html.parser'))
    data = data.split('<h4 id="group-A">A</h4>')[1].split('<h3>Latest from the BFI</h3>')[0]
    data = pandas.DataFrame([data], columns=['DATA'])
    data['DATA'] = data['DATA'].str.split('<tr>')
    data = data.explode('DATA').reset_index(drop=True)
    data['DATA'] = data['DATA'].str.split('<td>')
    data = data['DATA'].apply(pandas.Series)
    data = data.rename(columns = lambda x : 'DATA_' + str(x))
    data = data[[x for x in data.columns.values[1:]]]
    data['ADDR'] = data[data.columns.values[0]].str.split('https://').str[1].str.split('"').str[0].str.split('/').str[-1]
    for x in data.columns.values:
        data[x] = data[x].str.replace('\n','')
    data = data.dropna(how='all')    
    for x in data.columns.values:
        data[x] = data.apply(clean_tags, col=x, axis=1) 
    return(data)

def year_extract(row, year_list, col):
    title = row[col]
    year = list()
    for y in year_list:
        if y in title:
            year.append(y)
    year = ''.join(year).replace('(','').replace(')','')
    return(year)

def title_clean(row, year_list, col):
    title = row[col]
    for y in year_list:
        title = title.replace(y,'').strip()
    if str(title[-5:]) == ', The':
        title = f'The {title[:-5]}'
    if str(title[-4:]) == ', An':
        title = f'An {title[:-4]}'        
    if str(title[-3:]) == ', A':      
        title = f'A {title[:-3]}'        
    return(title)

def split_column(data, col):
    data[col] = data[col].str.split(',')
    data = data.explode(col)
    data[col] = data[col].str.strip()
    return(data)

def apply_uuid(data, col):
    variance = data[[col]].drop_duplicates().dropna()
    variance[f'{col}_ID'] = [uuid.uuid4() for x in range(0, len(variance))]
    data = pandas.merge(data, variance, on=col, how='left')
    return(data)
    
voter_data = retrieve('https://www.bfi.org.uk/films-tv-people/sightandsoundpoll2012/voters')
voter_data.columns = ['VOTER', 'ROLE', 'COUNTRY', 'GENDER', 'VOTER_ID']
for x in ['Female', 'Male']:
    voter_data.loc[voter_data.GENDER.str.contains(x, na=False), 'GENDER'] = x
voter_data.loc[voter_data.GENDER.isin(['']), 'GENDER'] = 'Unspecified'  

voter_data = voter_data.loc[voter_data.VOTER.str.contains('Turnour', na=False)]
print(len(voter_data)) # 1205
voter_data.head()

1

                VOTER        ROLE    COUNTRY GENDER VOTER_ID
1101  Quentin Turnour  programmer  Australia   Male      182

In [2]:

vote_data = pandas.DataFrame(list(voter_data.VOTER_ID.unique()), columns=['VOTER_ID'])
commencer = datetime.datetime.now()                   
def vote_extract(row):
    time_to_finish = ((((datetime.datetime.now()-commencer)/(row.name+1))*(len(vote_data)))+commencer).strftime("%Y-%m-%d %H:%M:%S")
    print(f'Processing: {row.name+1} of {len(vote_data)}; eta {time_to_finish}.')                   
    clear_output(wait=True)                       
    page = f"https://www.bfi.org.uk/films-tv-people/sightandsoundpoll2012/voter/{row['VOTER_ID']}"
    response = requests.get(str(page))
    data = str(BeautifulSoup(response.text, 'html.parser'))
    data = data.split('<table class="sas-poll">')[1].split('</table>')[0]
    data = data.split('films-tv-people/')[1:]
    data = ','.join([x.split('"')[0] for x in data])
    return(data)

vote_data['FILM_ID'] = vote_data.apply(vote_extract, axis=1)
vote_data = split_column(vote_data, 'FILM_ID')
print(len(vote_data)) # 1205
vote_data.head()

10

  VOTER_ID        FILM_ID
0      182  4ce2b6bf4befa
0      182  4ce2b6a7a801b
0      182  4ce2b7276d3d3
0      182  4ce2b6af779a6
0      182  4ce2b6a2991ce

In [3]:

film_data = retrieve('https://www.bfi.org.uk/films-tv-people/sightandsoundpoll2012/films')
film_data.columns = ['FILM', 'DIRECTOR', 'COUNTRY', 'FILM_ID'] 
film_data['YEAR'] = film_data.apply(year_extract, year_list=[f'({x})' for x in range(1850,2050)], col='FILM', axis=1)
film_data['FILM'] = film_data.apply(title_clean, year_list=[f'({x})' for x in range(1850,2050)], col='FILM', axis=1)
film_data = film_data.loc[film_data.FILM_ID.str.contains('4|5')]

film_data = split_column(film_data, 'COUNTRY')
film_data.loc[film_data.COUNTRY.isin(['']), 'COUNTRY'] = numpy.nan

film_data = film_data.loc[film_data.FILM_ID.isin(list(vote_data.FILM_ID))]
print(len(film_data)) # 2424
film_data.head()

11

,FILM,DIRECTOR,COUNTRY,FILM_ID,YEAR
220,The Best Years of Our Lives,William Wyler,USA,4ce2b6bf4befa,1946
416,Citizen Kane,Orson Welles,USA,4ce2b6a7a801b,1941
987,Hitler: A Film from Germany,Hans Jurgen Syberberg,NaN,4ce2b7276d3d3,1977
1323,Madame de…,Max Ophüls,France,4ce2b6af779a6,1953
1323,Madame de…,Max Ophüls,Italy,4ce2b6af779a6,1953

In [4]:

stacked_data = pandas.concat([voter_data, vote_data, film_data])
for x in ['COUNTRY', 'DIRECTOR']:
    stacked_data = apply_uuid(stacked_data, x)
    
print(stacked_data.columns.values) # okay we are missing three things, roles, genders and years    
    
stacked_data = stacked_data[['FILM', 'FILM_ID', 'COUNTRY', 'COUNTRY_ID', 'VOTER', 'VOTER_ID', 'DIRECTOR', 'DIRECTOR_ID']]    
stacked_data.to_csv(pathlib.Path.cwd().resolve().parents[0] / '1_data' / 'sas_data.csv', index=False)
print(len(stacked_data))
stacked_data.head()

['VOTER' 'ROLE' 'COUNTRY' 'GENDER' 'VOTER_ID' 'FILM_ID' 'FILM' 'DIRECTOR'
 'YEAR' 'COUNTRY_ID' 'DIRECTOR_ID']
22

,FILM,FILM_ID,COUNTRY,COUNTRY_ID,VOTER,VOTER_ID,DIRECTOR,DIRECTOR_ID
0,NaN,NaN,Australia,79f3a1fa-fb9e-4b06-acff-6d172a1344a6,Quentin Turnour,182,NaN,NaN
1,NaN,4ce2b6bf4befa,NaN,NaN,NaN,182,NaN,NaN
2,NaN,4ce2b6a7a801b,NaN,NaN,NaN,182,NaN,NaN
3,NaN,4ce2b7276d3d3,NaN,NaN,NaN,182,NaN,NaN
4,NaN,4ce2b6af779a6,NaN,NaN,NaN,182,NaN,NaN